[
    title: "top"
    pages: [
        title: "Home"
        infile: "index.html"
        ,
        title: "Minecraft Hackery"
        pages: [
            title: "Tree Planner"
            infile: "treeplanner.html"
        ]
    ]
]
